.contents {
  margin-top: 80px;
}

body {
  background-color: #F0F2F5;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hover {
  transition: transform .3s
}

.hover:hover {
  transform: scale(1.05);
}